{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  https://twig.symfony.com/doc/3.x/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul{{ attributes.addClass('text-lg pl-10') }}>
    {% elseif menu_level == 1 %}
      <ul class="absolute block left-0 mt-2 w-48 bg-white shadow-lg hidden group-hover:block">
    {% else %}
      <ul>
    {% endif %}
    {% for item in items %}
      {% if menu_level == 0 %}
        <li{{ item.attributes.addClass("inline-block relative group py-4 pr-8") }}>
      {% else %}
        <li{{ item.attributes.addClass("") }}>
      {% endif %}
      {% if item.below %}
        {{ link(item.title, item.url, create_attribute({'class': ['chevron']})) }}
        {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
      {% else %}
        {{ link(item.title, item.url) }}
      {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
